<!DOCTYPE html>
<html>
<head>
  <title>Job Search</title>
  <style>
    section {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    </style>
</head>
<body>
<h1>Search Results</h1>
<h3><em>{{searchingBy}}</em> 관련 직무: {{resultsNum}}개</h3>
<a href="/export?word={{searchingBy}}">Export to CSV</a>
<section>
  <!-- <table>
    <thead>
      <tr>
    <th>공고제목</th>
  <th>회사명</th>
  <th>위치</th>
  <th>링크</th>
  </tr>
    </thead>
  <tbody>
  {% for job in jobs %}
  <tr>
  <td> {{job.title}}</td>
  <td> {{job.company}}</td>
  <td> {{job.location}}</td>
  <td> {{job.link}}</td>
    
  </tr>
  {% endfor %}
  </tbody>
  </table> No Need To Use Table!! cause css grid is awesome! -->
  <h4>공고제목</h4>
  <h4>회사명</h4>
  <h4>위치</h4>
  <h4>링크</h4>
 {% for job in jobs %}
  <span> {{job.title}}</span>
  <span> {{job.company}}</span>
  <span> {{job.location}}</span>
  <a href="{{job.apply_link}}" target="_blank"> Apply</a>
  {% endfor %}
</section>
</body>
</html>